{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI</title>
</head>
    <body>

       <form action="/hw/bmi" method="POST">
  <div class="form-group">
    <label for="weight">Weight(Kg)</label>
    <input type="text" class="form-control" name="weight" aria-describedby="Weight" placeholder="Weight">
  </div>
  <div class="form-group">
    <label for="height">Height(Cm)</label>
    <input type="text" class="form-control" name="height" placeholder="Height">
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Calculate</button>
</form>
<br>
{% if bmi %}
        <p>Your BMI is {{ bmi }}</p>
    {% endif %}

    </body>

    </html>



{% endblock %}

